# .env file content

# --- Database Credentials for MySQL Service ---
DB_USER ="root"
DB_PASS = "password"
DB_HOST ="localhost"
DB_PORT = "3306"
DB_NAME = "db"

# --- api key for google api ---
GOOGLE_API_KEY=


# ----- Docker --------
# .env file content
DB_USER = ""
DB_PASS = ""  
DB_HOST = "host.docker.internal"
DB_PORT = ""
DB_NAME = ""

GOOGLE_API_KEY=


#---------Backend/frontend---------------
#uvicorn main:app --reload
#streamlit run frontend/app.py
