# .env file content

# --- Database Credentials for MySQL Service ---
# Note: The following database credentials are placeholders. Please replace them with your actual database credentials before running the application.


DB_USER ="root"
DB_PASS = "password"
DB_HOST ="localhost"
DB_PORT = "3306"
DB_NAME = "db"

# --- api key for google api ---
GOOGLE_API_KEY=



# ----- Docker -------- 
# .env file content

# Note: The following database credentials are placeholders for Docker environment. Please replace them with your actual database credentials before running the application in Docker.
DB_USER = ""
DB_PASS = ""  
DB_HOST = "host.docker.internal"
DB_PORT = ""
DB_NAME = ""

GOOGLE_API_KEY=


#---------Backend/frontend---------------
#uvicorn main:app --reload
#streamlit run frontend/app.py
