# .env file content

# --- Database Credentials for MySQL Service ---
DB_USER ="root"
DB_PASS = "Saroj9044@@"
DB_HOST ="localhost"
DB_PORT = "3308"
DB_NAME = "samsung_mobiles"

# --- api key for google api ---
GOOGLE_API_KEY="AIzaSyDeqKfW9Dq0uYne5360HyQc1EdXUCENirM"


#uvicorn main:app --reload
#streamlit run frontend/app.py